.card {
    width: 400px;
    box-sizing: border-box;
  
  }
  .productslist{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 50%;
  }
  

  