
<div class="productslist">
<div *ngFor="let product of products">
    <mat-card class="card">
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>Price: {{product.price}} </mat-card-subtitle>
        <mat-card-content>
          <p>{{product.description}}</p>
        </mat-card-content>
       
      </mat-card>
</div>
</div>
<button *ngIf="products.length > 0; else empty;" mat-button color="accent"  (click)="addOrder()">buy all</button>

<ng-template #empty> <h1>no items found in the shopping cart ! </h1></ng-template>