
<div class="container">
<form [formGroup]="itemForm" (ngSubmit) = "addItem(itemForm.value)" >
    <input type="text" class="fortextbox" name="title" placeholder="title" formControlName="title">
    <br/>
    <input type="text" class="fortextbox" name="price" placeholder="price" formControlName="price">
    <br/>
    <input type="text" class="fortextbox" name="description" placeholder="description" formControlName="description">
    <br/>
    <input type="submit" class="forsubmit" value="add Item" >
    </form>



<div *ngFor="let item of items">
   

    <mat-card class="example-card">
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>Price: {{item.price}} </mat-card-subtitle>
        <mat-card-content>
          <p>{{item.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="deleteItem(item)" >delete</button>
    <button (click)="editItem(item)" >edit</button>
        </mat-card-actions>
      </mat-card>
</div>
</div>