.container{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    text-align:center;
    align-items:center;
    width:60vw;
    gap: 20vh 20vh;
    margin: 15vh;
}
.info{
    flex: 1 1 auto;
    align-self: center;
}

.address{

    flex: 1;
}