.example-spacer {
  flex: 1 1 auto;
  margin: 0 1vw;
  text-align: center;
  border:0;
}

.main {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;

}

.userButton{
  margin-left: 3px;
}