<form *ngIf="loggedIn;" [formGroup]="form" #f="ngForm" class="example-form" (keydown.enter)="onKeyDownEvent($event,form.value)" (ngSubmit)="sendMessege(form.value)" >
    <button mat-raised-button color="accent" (click)="saveHistory()">save history <mat-icon>bookmark</mat-icon></button>
   
    <div class="labelchat">  
        <mat-label>
    Hello {{user}}, I'm doug the chat bot ! how can i help you? <br/>
    1. view previous orders<br/>
    2. view all products <br/>
    3. place an order <br/>
    4. view chat history <br/>
        {{tempMessage}}
    </mat-label></div>
    
       
        <input type="text" name="Message" formControlName="Message">
        <button mat-button color='accent' type="submit">send</button>
    
  </form>
  