.example-form {
    min-width: 400px;
    max-width: 15vw; 
    width: 100%;
    bottom:2vh;
    position: fixed;
    right:0;
    border-left: 10px solid rgb(66, 112, 176);
   
    border-top: 2px solid rgb(66, 112, 176);
    border-bottom: 2px solid rgb(66, 112, 176);
    border-radius: 10px;
    background-color:white;
    box-shadow: var(--ho, 0)
  var(--vo,0)
  var(--blur, 1rem)
  var(--spread, 0)
  var(--color, rgb(0 0 0 / .5));
  }
.labelchat{
   height: 20vh;
   overflow-y:scroll;
   white-space: pre-wrap;
}
  .example-full-width {
    width: 100%;
    
  }
input{ width: 80%;}
button{width: 15%}