.full-width {
  width: 100%;
}

.box {
  min-width: 25vw;
  margin: 20px auto;
  text-align: center;
  font-size: 1.1em;
  box-shadow: var(--ho, 0)
  var(--vo,0)
  var(--blur, 1rem)
  var(--spread, 0)
  var(--color, rgb(0 0 0 / .5));
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
