<form [formGroup]="form" #f="ngForm" (ngSubmit)="changePassword(form.value)">
    <mat-card class="box">
        <div>
            <input type="password" class="fortextbox" name="oldPassword" placeholder="oldPassword" formControlName="oldPassword">

            <span *ngIf="f.submitted && oldPassword?.invalid " class="alert">
   old Password is required.
    </span>
        </div>
        <br>
        <div>
            <input type="password" class="fortextbox" name="newPassword" placeholder="newPassword" formControlName="newPassword">


            <span *ngIf="f.submitted && newPassword?.invalid " class="alert">
   new Password is required.
    </span>
        </div>
        <br>
        <div class="alert" *ngIf="wrongPassword"> wrong pass </div>

        <input type="submit" class="forsubmit" value="change password">
    </mat-card>
</form>