

<mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>{{user.name}} {{user.lastName}}</mat-card-title>
      <mat-card-subtitle>id: {{user.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{user.photo}} max-height="400px" max-width="400px">
    <mat-card-content>
        <p>phone: {{user.phone}}</p>
        <p>Address: </p> 
        <p>state: {{user.address.state}}</p> 
        <p>street: {{user.address.street}}</p> 
        <p>zip: {{user.address.zip}}</p> 
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="editUser()">edit</button>
<button mat-button (click)="changePassword()">change password</button>
     
    </mat-card-actions>
  </mat-card>
  
