<p>edit works!</p>
<form [formGroup]="form" (ngSubmit) = "editUser(form.value)" >
    <input type="text" class="fortextbox" name="email" placeholder="email" formControlName="email">
<br/>
<input type="password" class="fortextbox" name="password" placeholder="password" formControlName="password">
<br/>
<input type="text" class="fortextbox" name="name" placeholder="name" formControlName="name">
<br/>
<input type="text" class="fortextbox" name="lastName" placeholder="lastName" formControlName="lastName">
<br/>
<input type="text" class="fortextbox" name="id" placeholder="id" formControlName="id">
<br/>
<input type="text" class="fortextbox" name="phone" placeholder="phone" formControlName="phone">
<br/>
<div formGroupName="address">
    <h2>Address</h2>
  
    <label for="street">Street: </label>
    <input name="street" class="fortextbox" type="text" formControlName="street">
  
    <label for="state">State: </label>
    <input name="state" class="fortextbox" type="text" formControlName="state">
  
    <label for="zip">Zip Code: </label>
    <input name="zip" class="fortextbox" type="text" formControlName="zip">
  </div>
<input type="file" class="fortextbox" name="photo" placeholder="photo" formControlName="photo" (change)="fileProgress($event)">
<br/>
<input type="submit" class="forsubmit" value="edit" >
</form>