video {
    height: auto;
    max-width: 100vw;
    
    
}
.home{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.items{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:10px;
    gap: 1em;
  
}
.about{
    width:50vw;
}