.alert{ color:red;}

.box {
    
    min-width: 20vw;
    
    margin: 20px auto;
   
    font-size: 1.1em;
    box-shadow: var(--ho, 0)
  var(--vo,0)
  var(--blur, 1rem)
  var(--spread, 0)
  var(--color, rgb(0 0 0 / .5));
  }


div{ 
  display:flex;
  justify-content:space-between;
}

input{
  flex:2;
}
label{ 
  flex:1;
}
